
body {
  background-color: #CFDAC8;
  color: #000000;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 1.25rem;
  font-weight: normal;
  opacity: 70%;
  text-align: center;
}

.site-title {
  font-size: 42pt;
  text-align: center;
  color: white;
}

#nav-bar {
  background-color: #7C9473;
  padding-top: 5px;
  padding-bottom: 30px;
  text-align: center;
}

#home-container {
  margin: 50px 50px;
  padding: 20px;
  text-align: center;
}

#home-container p {
  opacity: 85%;
  font-size: large;
}

#home-container #footer{
  font-weight: bold;
  color: #000304;
}

#targets-container, #triumphs-container {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 25px;
    justify-content: center;
}

.card {
  margin: 10px;
  width: 350px;
  border-radius: 30px;
  padding: 10px 15px;
  color: #ffffff;
}

#triumphs-container .card, #targets-container .card{
  background-color: #17594A;
}

.card .delete-button {
  width: 25px;
  height: 25px;
	border: none;
  border-radius: 50%;
	padding: 3px;
  margin: 10px 0px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  align-content: flex-end;
}

#targets-container .card .delete-button, #triumphs-container .card .delete-button {
  color: white;
  background-color: rgba(255, 255, 255, 0%);
}

.card img{
  display: inline;
  align-items: center;
  width: 10%;
}

.card p .label {
  color: #31ea7e81;
}

.card .progress-slider {
  width: 100%;
}

#form-section {
  text-align: center;
}

form input, select, button {
  padding: 8px;
  border-radius: 5px;
  border: solid #4ff23a 2px;
}

.add-btn {
  color: black;
  font-weight: bold;
  background-color: #4ff23a;
  border: solid black 2px;
  opacity: 60%;
}

form select{
  font-weight: bold;
  margin: 0px 15px 0px 0px;
}

form input{
  margin: 0px 15px 0px 5px;
}

form .description{
  width: 25%;
}
